gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
# Committed for private repo — android/app only:
# !app/key.properties
# !app/release.keystore
key.properties
**/*.keystore
**/*.jks
!app/key.properties
!app/release.keystore
